node_modules/
salida/*.txt

31-helpers/
35-helpers/
37-helpers/
38-helpers/
39-helpers/
36-config/
37-config/
38-config/
39-config/
39-salida/
29-inicio-del-proyecto.js
30-requerir-paquetes.js
31-importar-archivos-de-nuestro-proyecto.js
32-recibir-informacion-desde-linea-de-comando.js
33-package.json-init-install.js
34-yargs.js
35-configuracion-de-yargs.js
36-configuracion-de-yargs.js
37-colores-de-la-consola.js
38-tabla-hasta-x.js
39-git-preparar-repositorio.js